<!--
  templateType: page
  isAvailableForNewContent: true
  label: Component
-->
{% extends './layouts/base.html' %}

{% macro font_styles(font, label) %}
<div class="md:flex border-b-2 mb-3 pb-4 divide-solid">
  <div class="py-4 md:w-2/12">
    <p class="font-bold text-xl">{{label}}</p>
    <p class="text-gray-500">{{font.font.font }}</p>
    <p class="uppercase text-gray-500 mt-6 text-sm font-bold mb-1">Size / Line height</p>
    <p>{{font.font.size}}px / {{font.line_height }}{% if font.line_height_unit != 'number' %}{{font.line_height_unit}}{% endif %}<span class="text-sm text-gray-500 pl-2">Desktop</span></p>
    {% if font.letter_spacing != 0 %}
    <p class="uppercase text-gray-500 mt-6 text-sm font-bold mb-1">
      Letter Spacing
    </p>
    <p>0px</p>
    {% endif %}
  </div>
  <div class="py-4 md:px-10 md:w-3/4">
    <p class="truncate text-{{label}}">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</p>
  </div>
</div>
{% endmacro %}

{% block body %}

<div class="container">

    <h1 class="text-6xl mb-10">Typography</h1>

    {{ font_styles(theme.typography.xs, 'xs') }}
    {{ font_styles(theme.typography.sm, 'sm') }}
    {{ font_styles(theme.typography.base, 'base') }}
    {{ font_styles(theme.typography.lg, 'lg') }}
    {{ font_styles(theme.typography.xl, 'xl') }}
    {{ font_styles(theme.typography.two_xl, '2xl') }}
    {{ font_styles(theme.typography.three_xl, '3xl') }}
    {{ font_styles(theme.typography.four_xl, '4xl') }}
    {{ font_styles(theme.typography.five_xl, '5xl') }}
    {{ font_styles(theme.typography.six_xl, '6xl') }}
    {{ font_styles(theme.typography.seven_xl, '7xl') }}
    {{ font_styles(theme.typography.eight_xl, '8xl') }}
    {{ font_styles(theme.typography.nine_xl, '9xl') }}


</div>



  <div class="flex flex-wrap">
    <button type="button" class="text-white bg-primary focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 text-center mr-3 mb-3">Default</button>
    <button type="button" class="text-primary bg-secondary focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 mb-3">Default</button>
    <button type="button" class="text-primary/5 rounded-lg border border-gray-200 bg-white text-sm font-medium px-4 py-2 text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 mr-3 mb-3">Alternative</button>
    <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 mb-3">Dark</button>
    <button type="button" class="text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 mb-3">Light</button>
    <button type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 mb-3">Green</button>
    <button type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 mb-3">Red</button>
    <button type="button" class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 mb-3">Yellow</button>
    <button type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 mb-3">Purple</button>
  </div>
</div>


<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white overflow-hidden">
  <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48">
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 sm:static">
      <div class="sm:max-w-lg">
        <h1 class="text-4xl font font-extrabold tracking-tight text-gray-900 sm:text-6xl">
          Summer styles are finally here
        </h1>
        <p class="mt-4 text-xl text-gray-500">This year, our new summer collection will shelter you from the harsh elements of a world that doesn't care if you live or die.</p>
      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:max-w-7xl lg:mx-auto lg:w-full">
            <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="w-44 h-64 rounded-lg overflow-hidden sm:opacity-0 lg:opacity-100">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-01.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-02.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-03.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-04.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-05.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-06.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-07.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="inline-block text-center bg-indigo-600 border border-transparent rounded-md py-3 px-8 font-medium text-white hover:bg-indigo-700">Shop Collection</a>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock body %}