{% import './tools/_macros.css' %}

{## Table of contents

  1. Variables
    1a. Containers
    1b. Colors
    1c. Typography
    1d. Buttons
    1e. Forms
    1f. Tables
    1g. Website header
    1h. Website footer
  2. Containers / Grid / DND areas
  3. Typography
  4. Buttons
  5. Forms
  6. Tables
  7. Website header
  8. Website footer
  9. Blog
  10. System pages
  11. Modules

##}

{###########################################################################}
{############################   1. Variables   #############################}
{###########################################################################}

/* 1a. Containers */

{% set container_width = theme.container.maximum_content_width ~ 'px' %}

/* 1b. Colors */

{% set colors = {
	'primary': theme.colors.primary.color,
	'secondary': theme.colors.secondary.color,
  'tertiary': theme.colors.tertiary.color,
  'accent-one': theme.colors.accent_one.color,
  'accent-two': theme.colors.accent_two.color,
  'accent-three': theme.colors.accent_three.color,
  'light': theme.colors.light.color,
  'dark': theme.colors.dark.color,
	'white': '#ffffff',
	'black': '#000000'
} %}

{% set body_color = theme.colors.body_color.color %}
{% set heading_color = theme.colors.heading.color %}

{% set link_color = {
  'color': theme.colors.link.color,
  'hover': theme.colors.link_hover.color,
  'focus': theme.colors.link_focus.color,
} %}



/* 1c. Typography */

{% set primary_font = theme.fonts.primary %}
{% set secondary_font = theme.fonts.secondary %}

{% set body_font = theme.typography.base.font %}

{% set anchor_font = theme.typography.links.font %}

/* 1d. Buttons */

{% set button_font = theme.buttons.typography.font %}
{% set button_text_transform = theme.buttons.typography.transform %}
{% set button_border_width = theme.buttons.border.border_width %}
{% set button_corner_radius = theme.buttons.corner.radius ~ 'px' %}
{% set button_padding = theme.buttons.padding.padding.css %}

/* 1e. Forms */

{% set form_title_font_color = theme.forms.title.typography.color.color %}

{% set form_label_font_color = theme.forms.labels.typography.color.color %}

{% set form_help_text_font_color = theme.forms.help_typography.typography.color.color %}

{% set form_field_placeholder_color = theme.forms.fields.placeholder.color.color %}
{% set form_field_font_color = theme.forms.fields.typography.color.color %}
{% set form_field_bg_color = color(theme.forms.fields.background.color) %}
{% set form_field_border = theme.forms.fields.border.border.css %}
{% set form_field_corner_radius = theme.forms.fields.corner.radius ~ 'px' %}

/* 1f. Tables */

{% set table_head_bg_color = color(theme.tables.header.background.color) %}
{% set table_head_font_color = theme.tables.header.typography.color.color %}

{% set table_bg_color = color(theme.tables.table_body.background.color) %}
{% set table_font_color = theme.tables.table_body.typography.color.color %}

{% set table_footer_bg_color = color(theme.tables.footer.background.color) %}
{% set table_footer_font_color = theme.tables.footer.typography.color.color %}

{% set table_cell_spacing = theme.tables.cells.spacing.spacing.css %}
{% set table_border = theme.tables.cells.border.border.css %}

:root {
  {% for key, color in colors.items() %}
	--color-{{ key }}: {{ color|convert_rgb }};
	{% endfor %}
  --color-body: {{ body_color|convert_rgb }};
  --color-heading: {{ heading|convert_rgb }};
}

{###########################################################################}
{##################   2. Containers / Grid / DND areas   ###################}
{###########################################################################}

@media(min-width: {{ container_width }}) {
  .container {
      max-width: {{ container_width }};
  }
}

{###########################################################################}
{###########################   3. Typography   #############################}
{###########################################################################}

body {
  {{ font_styles(theme.typography.base) }};
  color: {{ body_color }};
}

p,
.p {
  {{ font_styles(theme.typography.base) }}
}

small,
.small {
  {{ font_styles(theme.typography.sm) }}
}

a {
  {{ anchor_font.style }};
  color: {{ link_color.color }};
}

a:hover {
  color: {{ link_color.hover }};
}

a:active,
a:focus {
  color: {{ link_color.focus }};
}

blockquote,
.blockquote {
}

h6, h5, h4, h3, h2, h1 {
  color: {{ heading_color }};
}

h6 {
  {{ font_styles(theme.typography.lg) }}
}

h5 {
  {{ font_styles(theme.typography.xl) }}
}

h4 {
  {{ font_styles(theme.typography.two_xl) }}
}

h3 {
  {{ font_styles(theme.typography.three_xl) }}
}

h2 {
  {{ font_styles(theme.typography.four_xl) }}
}

h1 {
  {{ font_styles(theme.typography.five_xl) }}
}

.text-xs {
  {{ font_styles(theme.typography.xs) }}
}

.text-sm {
  {{ font_styles(theme.typography.sm) }}
}

.text-base {
  {{ font_styles(theme.typography.base) }}
}

.text-lg {
  {{ font_styles(theme.typography.lg) }}
}

.text-xl {
  {{ font_styles(theme.typography.xl) }}
}

.text-2xl {
  {{ font_styles(theme.typography.two_xl) }}
}

.text-3xl {
  {{ font_styles(theme.typography.three_xl) }}
}

.text-4xl {
  {{ font_styles(theme.typography.four_xl) }}
}

.text-5xl {
  {{ font_styles(theme.typography.five_xl) }}
}

.text-6xl {
  {{ font_styles(theme.typography.six_xl) }}
}

.text-7xl {
  {{ font_styles(theme.typography.seven_xl) }}
}

.text-8xl {
  {{ font_styles(theme.typography.eight_xl) }}
}

.text-9xl {
  {{ font_styles(theme.typography.nine_xl) }}
}

@media (min-width: 640px) {
  .sm\:text-xs {
    {{ font_styles(theme.typography.xs) }}
  }

  .sm\:text-sm {
    {{ font_styles(theme.typography.sm) }}
  }

  .sm\:text-base {
    {{ font_styles(theme.typography.base) }}
  }

  .sm\:text-lg {
    {{ font_styles(theme.typography.lg) }}
  }

  .sm\:text-xl {
    {{ font_styles(theme.typography.xl) }}
  }

  .sm\:text-2xl {
    {{ font_styles(theme.typography.two_xl) }}
  }

  .sm\:text-3xl {
    {{ font_styles(theme.typography.three_xl) }}
  }

  .sm\:text-4xl {
    {{ font_styles(theme.typography.four_xl) }}
  }

  .sm\:text-5xl {
    {{ font_styles(theme.typography.five_xl) }}
  }

  .sm\:text-6xl {
    {{ font_styles(theme.typography.six_xl) }}
  }

  .sm\:text-7xl {
    {{ font_styles(theme.typography.seven_xl) }}
  }

  .sm\:text-8xl {
    {{ font_styles(theme.typography.eight_xl) }}
  }

  .sm\:text-9xl {
    {{ font_styles(theme.typography.nine_xl) }}
  }
}

@media (min-width: 768px) {
  .md\:text-xs {
    {{ font_styles(theme.typography.xs) }}
  }

  .md\:text-sm {
    {{ font_styles(theme.typography.sm) }}
  }

  .md\:text-base {
    {{ font_styles(theme.typography.base) }}
  }

  .md\:text-lg {
    {{ font_styles(theme.typography.lg) }}
  }

  .md\:text-xl {
    {{ font_styles(theme.typography.xl) }}
  }

  .md\:text-2xl {
    {{ font_styles(theme.typography.two_xl) }}
  }

  .md\:text-3xl {
    {{ font_styles(theme.typography.three_xl) }}
  }

  .md\:text-4xl {
    {{ font_styles(theme.typography.four_xl) }}
  }

  .md\:text-5xl {
    {{ font_styles(theme.typography.five_xl) }}
  }

  .md\:text-6xl {
    {{ font_styles(theme.typography.six_xl) }}
  }

  .md\:text-7xl {
    {{ font_styles(theme.typography.seven_xl) }}
  }

  .md\:text-8xl {
    {{ font_styles(theme.typography.eight_xl) }}
  }

  .md\:text-9xl {
    {{ font_styles(theme.typography.nine_xl) }}
  }
}

@media (min-width: 1024px) {
  .lg\:text-xs {
    {{ font_styles(theme.typography.xs) }}
  }

  .lg\:text-sm {
    {{ font_styles(theme.typography.sm) }}
  }

  .lg\:text-base {
    {{ font_styles(theme.typography.base) }}
  }

  .lg\:text-lg {
    {{ font_styles(theme.typography.lg) }}
  }

  .lg\:text-xl {
    {{ font_styles(theme.typography.xl) }}
  }

  .lg\:text-2xl {
    {{ font_styles(theme.typography.two_xl) }}
  }

  .lg\:text-3xl {
    {{ font_styles(theme.typography.three_xl) }}
  }

  .lg\:text-4xl {
    {{ font_styles(theme.typography.four_xl) }}
  }

  .lg\:text-5xl {
    {{ font_styles(theme.typography.five_xl) }}
  }

  .lg\:text-6xl {
    {{ font_styles(theme.typography.six_xl) }}
  }

  .lg\:text-7xl {
    {{ font_styles(theme.typography.seven_xl) }}
  }

  .lg\:text-8xl {
    {{ font_styles(theme.typography.eight_xl) }}
  }

  .lg\:text-9xl {
    {{ font_styles(theme.typography.nine_xl) }}
  }
}

@media (min-width: 1280px) {
  .xl\:text-xs {
    {{ font_styles(theme.typography.xs) }}
  }

  .xl\:text-sm {
    {{ font_styles(theme.typography.sm) }}
  }

  .xl\:text-base {
    {{ font_styles(theme.typography.base) }}
  }

  .xl\:text-lg {
    {{ font_styles(theme.typography.lg) }}
  }

  .xl\:text-xl {
    {{ font_styles(theme.typography.xl) }}
  }

  .xl\:text-2xl {
    {{ font_styles(theme.typography.two_xl) }}
  }

  .xl\:text-3xl {
    {{ font_styles(theme.typography.three_xl) }}
  }

  .xl\:text-4xl {
    {{ font_styles(theme.typography.four_xl) }}
  }

  .xl\:text-5xl {
    {{ font_styles(theme.typography.five_xl) }}
  }

  .xl\:text-6xl {
    {{ font_styles(theme.typography.six_xl) }}
  }

  .xl\:text-7xl {
    {{ font_styles(theme.typography.seven_xl) }}
  }

  .xl\:text-8xl {
    {{ font_styles(theme.typography.eight_xl) }}
  }

  .xl\:text-9xl {
    {{ font_styles(theme.typography.nine_xl) }}
  }
}

{###########################################################################}
{############################   4. Buttons   ###############################}
{###########################################################################}

button,
.button {
  {{ button_padding }};
  {{ button_font.style }};
  border-width: {{ button_border_width }}px;
  border-radius: {{ button_corner_radius }};
  color: {{ button_font.color }};
  text-transform: {{ button_text_transform }};
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  {{ button_font.style }};
  background-color: rgba({{ color_variant(theme.buttons.background.color.color, -40)|convert_rgb }}, {{ theme.buttons.background.color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border.border.top.color, -40) }};
}

button:active,
.button:active {
  {{ button_font.style }};
  background-color: rgba({{ color_variant(theme.buttons.background.color.color, 40)|convert_rgb }}, {{ theme.buttons.background.color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border_color.color, 40) }};
}

{###########################################################################}
{##############################   5. Forms   ###############################}
{###########################################################################}

form,
.submitted-message {
  {{ body_font.style }};
}

/* Form title */

.form-title {
  color: {{ form_title_font_color }};
}

/* Labels */

form label {
  color: {{ form_label_font_color }};
}

/* Help text */

form legend {
  color: {{ form_help_text_font_color }};
}

/* Inputs */

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  {{ form_input_border }}
  background-color: {{ form_field_bg_color }};
  color: {{ form_field_font_color }};
  border-radius: {{ form_field_corner_radius }};
}

/* Form placeholder text */

::-webkit-input-placeholder {
  color: {{ form_field_placeholder_color }};
}

::-moz-placeholder {
  color: {{ form_field_placeholder_color }};
}

:-ms-input-placeholder {
  color: {{ form_field_placeholder_color }};
}

::placeholder {
  color: {{ form_field_placeholder_color }};
}

/* Inputs - date picker */

.hs-fieldtype-date .input .hs-dateinput:before {
  color: {{ form_field_placeholder_color }};
}

.fn-date-picker td.is-selected .pika-button {
  background: {{ primary_color }};
}

.fn-date-picker td .pika-button:hover {
  background-color: {{ primary_color }} !important;
}

.fn-date-picker td.is-today .pika-button {
  color: {{ primary_color }};
}

/* Submit button */

form input[type=submit],
form .hs-button {
  {{ button_padding }};
  {{ button_font.style }};
  border-width: {{ button_border_width }}px;
  border-radius: {{ button_corner_radius }};
  color: {{ button_font.color }};
  font-size: {{ button_font.size ~ button_font.size_unit }};
  text-transform: {{ button_text_transform }};
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:hover,
form .hs-button:focus {
  background-color: rgba({{ color_variant(theme.buttons.background.color.color, -40)|convert_rgb }}, {{ theme.buttons.background.color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border.border.top.color, -40) }};
}

form input[type=submit]:active,
form .hs-button:active {
  background-color: rgba({{ color_variant(theme.buttons.background.color.color, 40)|convert_rgb }}, {{ theme.buttons.background.color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border_color.color, 40) }};
}

{###########################################################################}
{#############################   6. Tables   ###############################}
{###########################################################################}

/* Table */

table {
  {{ table_border }}
  background-color: {{ table_bg_color }};
}

/* Table cells */

td,
th {
  {{ table_border }}
  {{ table_cell_spacing }}
  border-color: {{ table_border_color }};
  color: {{ table_font_color }};
}

/* Table header */

thead th {
  background-color: {{ table_head_bg_color }};
  color: {{ table_head_font_color }};
}

/* Table footer */

tfoot td {
  background-color: {{ table_footer_bg_color }};
  color: {{ table_footer_font_color }};
}

{###########################################################################}
{###########################   7. Website header   #########################}
{###########################################################################}

.header {
  background-color: {{ header_bg_color }};
}

.menu__link,
.header__logo .logo-company-name,
.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  color: {{ nav_font_color }};
  font-family: {{ body_font.font }};
}

.menu__child-toggle-icon {
  border-top-color: {{ nav_font_color }};
}

.menu .menu__link:hover,
.menu .menu__link:focus,
.header__language-switcher-label-current:hover,
.header__language-switcher-label-current:focus,
.header__language-switcher .lang_list_class li:hover a,
.header__language-switcher .lang_list_class li a:focus {
  color: {{ color_variant(nav_font_color, -40) }};
}

.menu__child-toggle-icon:hover,
.menu__child-toggle-icon:focus {
  border-top-color: {{ color_variant(nav_font_color, -40) }};
}

.menu .menu__link:active,
.header__language-switcher-label-current:active,
.header__language-switcher .lang_list_class li a:active {
  color: {{ color_variant(nav_font_color, 40) }};
}

.menu__child-toggle-icon:active {
  border-top-color: {{ color_variant(nav_font_color, 40) }};
}

.menu .menu__item--depth-1 > .menu__link--active-link:after {
  background-color: {{ nav_font_color }};
}

@media (min-width: 767px) {
  .menu .menu__submenu,
  .header__language-switcher .lang_list_class {
    {{ nav_drop_down_border }}
    background-color: {{ nav_drop_down_bg_color }};
  }

  .menu__submenu--level-2 > .menu__item:first-child:before {
    {{ nav_drop_down_border }}
    background-color: {{ nav_drop_down_bg_color }};
  }
}

.menu__submenu .menu__link,
.menu__submenu .menu__link:hover,
.menu__submenu .menu__link:focus {
  color: {{ nav_drop_down_font_color }};
  background-color: {{ nav_drop_down_bg_color }};
}

.header__language-switcher .lang_list_class:before {
  border-bottom-color: {{ theme.header.drop_downs.border.border.top.color }};
}

.menu__submenu .menu__link:hover,
.menu__submenu .menu__link:focus,
.header__language-switcher .lang_list_class li:hover,
.menu__submenu--level-2 > .menu__item:first-child:hover:before,
.menu__submenu--level-2 > .menu__item:first-child.focus:before {
  background-color: {{ header_bg_color }};
}

.header__language-switcher .lang_list_class.first-active::after {
  border-bottom-color: {{ header_bg_color }};
}

.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  font-family: {{ body_font.font }};
}

.header__language-switcher-label-current:after {
  border-top-color: {{ nav_font_color }};
}

@media(max-width: 767px) {
  .header__navigation {
    background-color: {{ header_bg_color }};
  }

  .header__navigation-toggle svg,
  .menu-arrow svg {
    fill: {{ nav_font_color }};
  }
}

{###########################################################################}
{###########################   8. Website footer   #########################}
{###########################################################################}

.footer {
  background-color: {{ footer_bg_color }};
}

/* Footer content */

.footer p,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer label,
.footer span,
.footer li,
.footer img {
  color: {{ footer_font_color }};
}

{###########################################################################}
{##############################   9. Blog   ################################}
{###########################################################################}

.blog-post,
.blog-header__inner,
.blog-related-posts {
  padding: {{ theme.spacing.vertical_spacing ~ 'px' }} 0;
}

/* Blog post */

.blog-post__meta a {
  color: {{ body_font.color }};
}

.blog-post__tag-link {
  color: {{ body_font.color }};
}

.blog-post__tag-link:hover,
.blog-post__tag-link:focus {
  color: {{ color_variant(body_font.color, -40) }};
}

.blog-post__tag-link:active {
  color: {{ color_variant(body_font.color, 40) }};
}

/* Blog related posts */

.blog-related-posts__title-link,
.blog-related-posts__title-link:hover,
.blog-related-posts__title-link:focus,
.blog-related-posts__title-link:active {
  {{ h2_font.style }};
  text-transform: {{ h2_text_transform }};
}

.blog-related-posts__title-link {
  color: {{ h2_font.color }};
}

.blog-related-posts__title-link:hover,
.blog-related-posts__title-link:focus {
  color: {{ color_variant(h2_font.color, -40) }};
}

.blog-related-posts__title-link:active {
  color: {{ color_variant(h2_font.color, 40) }};
}

/* Blog comments */

.blog-comments {
  margin-bottom: {{ theme.spacing.vertical_spacing }}px;
}

#comments-listing .comment-reply-to {
  color: {{ anchor_font.color }};
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
  color: {{ color_variant(anchor_font.color, -40) }};
}

#comments-listing .comment-reply-to:active {
  color: {{ color_variant(anchor_font.color, 40) }};
}

{###########################################################################}
{##########################   10. System pages   ###########################}
{###########################################################################}

.hs-search-results__title {
  {{ h1_font.style }};
  color: {{ h1_font.color }};
}

{###########################################################################}
{############################   11. Modules   ##############################}
{###########################################################################}

/* Blog listing */

.blog-index__post-title-link,
.blog-index__post-title-link:hover,
.blog-index__post-title-link:focus,
.blog-index__post-title-link:active {
  {{ h2_font.style }};
  text-transform: {{ h2_text_transform }};
}

.blog-index__post-title-link {
  color: {{ h2_font.color }};
}

.blog-index__post-title-link:hover,
.blog-index__post-title-link:focus {
  color: {{ color_variant(h2_font.color, -40) }};
}

.blog-index__post-title-link:active {
  color: {{ color_variant(h2_font.color, 40) }};
}

.blog-index__post-tag,
.blog-index__post-author-name {
  color: {{ body_font.color }};
}

/* Blog pagination */

.pagination__link-text,
.pagination__link--number {
  color: {{ body_font.color }};
}

.pagination__link:hover .pagination__link-text,
.pagination__link:focus .pagination__link-text,
.pagination__link--number:hover,
.pagination__link--number:focus {
  color: {{ color_variant(body_font.color, -40) }};
}

.pagination__link:active .pagination__link-text,
.pagination__link--number:active {
  color: {{ color_variant(body_font.color, 40) }};
}

.pagination__link-icon svg {
  fill: {{ body_font.color }};
}

/* Pricing card */

.card__price {
  {{ h3_font.style }};
  color: {{ h3_font.color }};
  font-size: {{ h3_font.size ~ h3_font.size_unit }};
}

.card__body svg {
  fill: {{ primary_color }};
}

/* Social follow */

.social-links__icon {
  background-color: {{ primary_color }};
}

.social-links__icon:hover,
.social-links__icon:focus {
  background-color: {{ color_variant(primary_color, -40) }};
}

.social-links__icon:active {
  background-color: {{ color_variant(primary_color, 40) }};
  {{ h3_font.style }};
  color: {{ h3_font.color }};
  font-size: {{ h3_font.size ~ h3_font.size_unit }};
}